<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create staff</title>
</head>
<body>
<h1>Create Staff</h1>
<p>
    <a href="staffs">Home</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" action="/create-staff-save" th:object="${staff}" enctype="multipart/form-data" >
    <table>
        <tr>
            <td>Department:</td>
            <td>
                <select th:field="*{department}">
                    <option th:each="p : ${departments}" th:value="${p.id}" th:text="${p.nameDepartment}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Name staff:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birth Data:</td>
            <td><input type="date" th:value="${staff.birthDate}" th:field="*{birthDate}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><p>Image: <input type="file" th:field="*{avatar}"/></p></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create staff"></td>
        </tr>

    </table></form>

</body>
</html>